<html>
<head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
    <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href='/stylesheets/style.css' />

    <script src="/javascripts/jquery-2.2.0.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/" title="COMP2068-lab4">Home</a></li>
        <li><a href="/kondaReddy" title="kondaReddy">kondaReddy</a></li>
        <li><a href="/laxmi" title="laxmi">laxmi</a></li>
        <li><a href="/mahesh" title="mahesh">mahesh</a></li>
        <li><a href="/chandu" title="chandu">chandu</a></li>
    </ul>
</nav>


