<%- include partials/header.ejs %>
<div class=" panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Konda Reddy is husband of laxmi and father of chandu and mahesh,he is a strong beliver of humanity and education</p>
</div>
</body>
</html>