<%- include partials/header.ejs %>
<div class=" panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Chandu is the eldest son of his family, he likes to hangout with friends and does lots of physical activities at his leisure time.</p>
</div>
</body>
</html>