<%- include partials/header.ejs %>

<div class=" panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body"> WELCOME</p>
</div>
</body>
</html>