<%- include partials/header.ejs %>
<div class=" panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Laxmi is a housewife and mother of chandu and mahesh,she is also the best cook in the entire universe.</p>
</div>
</body>
</html>