<%- include partials/header.ejs %>
<div class=" panel panel-info">
    <div class="panel-heading">
        <h1 class="panel-title"><%= title %></h1>
    </div>
    <p class="panel-body">Mahesh is the youngest son of KondaReddy and Laxmi, he is passionate about cricket and supports Indian Cricket Team.</p>
</div>
</body>
</html>